.container{
    display: flex;
}

.grid{
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;
}

.grid div{
    width: 20px;
    height: 20px;

}
.tetromino{
    background-color: blue;
}
.mini-grid {
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    background-color: yellow
}
.mini-grid div{
    width: 20px;
    height: 20px;
}